{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Établissements" %}{% endblock %}

{% block content %}
    <h1>{% trans "Établissements" %}</h1>

    <div class="list-group">
    {% for orga in organizations %}
        <a class="list-group-item" href="{% url 'organization-detail' pk=orga.pk %}">{{ orga }}</a>
    {% endfor %}
    </div>

    <a class="btn btn-primary pull-right" href="{% url 'organization-create' %}">{% trans "Créer un nouvel établissement" %}</a>
{% endblock %}