{% extends "base.html" %}
{% load i18n dv_filters bootstrap3 %}

{% block head_title %}{% blocktrans with year=month.year month=month|date:'F' %}Heures du {{ month }}
{{year}}{% endblocktrans %}{% endblock %}
{% block container-class %}{% if dataset %}container-fluid{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block bootstrap3_extra_script %}
{{ formset.media.js }}
{% include 'snippets/datetimepicker_js.html' %}
{% endblock %}
{% block content %}
{% include 'info/_month_nav.html' with nav_url=nav_url previous_url=prev_url previous_month=previous_month next_url=next_url next_month=next_month only %}

<h1>{% blocktrans with year=month.year month=month|date:'F' %}Heure pour {{ month }} {{year}}{% endblocktrans %}</h1>
{% if object_list %}
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table id="table-with-sum" class="table">
    <thead>
      <tr>
        <td></td>
        {% for form in formset.forms %}
        <th align="center" class="text-center">
          {{ form.date.value }}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        </th>
        {% endfor %}
      </tr>
    </thead>

    <tbody>
      {% for label, fields in formsetrevert.items %}
      <tr>
        <th>{{ label|capfirst }}</th>
        {% for field in fields %}
        <td align="center">
          {% bootstrap_field field layout="inline"  size='small' %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{% trans "Total"%}</th>
        {% for form in formset.forms %}
        <td align="center" class="text-center">
        </td>
        {% endfor %}
      </tr>
      <tr>
        <th>{% trans "Total CHF"%}</th>
        {% for form in formset.forms %}
        <td align="center" class="text-center">
        </td>
        {% endfor %}
      </tr>
    </tfoot>
  </table>
  {% buttons %}
    <div class="pull-right hidden-print">
      {% if can_print %}
          <a class="btn btn-default" title="{% blocktrans %}Imprimer{% endblocktrans %}"
              href="javascript:window.print()">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
          </a>
      {% endif %}
      <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
    </div>
    <a class="btn btn-default hidden-print" href="{% url 'home' %}">{% trans "Annuler" %}</a>
  {% endbuttons %}
</form>
{% else %}
  <p>{% trans "Vous n'avez pas travaillé ce mois" %}</p>
{% endif %}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function(event) {
    $("table#table-with-sum").change(function (e) {
      $('table#table-with-sum > thead > tr > th').each(function (index) {
        var total = 0;
        var sum_salary = 0;
        $('table#table-with-sum > tbody > tr').each(function () {
          const input = $(this).children('td').eq(index).find("input[type=number]")
          let value = parseFloat(input.val());
          if (!isNaN(value)) {
            if (input.data("customType") == "hours"){
              total += value;
            }
            if (input.data("unitPrice")){
              sum_salary += parseFloat(input.data("unitPrice")) * value;
            }
          }
        });
        const hours = Math.trunc(total);
        const minutes = (Math.abs(total) - Math.abs(hours))*60%60;
        $('table#table-with-sum > tfoot > tr:first > td').eq(index).text((total < 0 ? "-" : "" ) +("0" +
          Math.abs(hours)).slice(-2) + ":" + ("0"
        +
        minutes).slice(-2));
        $('table#table-with-sum > tfoot > tr:nth-child(2) > td').eq(index).text(sum_salary.toFixed(2))
      });
    }).change();
  });


</script>
{% endblock %}
