{% extends "base.html" %}
{% load i18n dv_filters bootstrap3 %}

{% block head_title %}{% blocktrans with year=month.year month=month|date:'F' %}Heures du {{ month }}
{{year}}{% endblocktrans %}{% endblock %}
{% block container-class %}{% if dataset %}container-fluid{% else %}{{ block.super }}{% endif %}{% endblock %}

{% block bootstrap3_extra_script %}
{{ formset.media.js }}
{% include 'snippets/datetimepicker_js.html' %}
{% endblock %}
{% block content %}
{% include 'info/_month_nav.html' with nav_url=nav_url previous_url=prev_url previous_month=previous_month next_url=next_url next_month=next_month only %}

{% if monitor_name %}
<h1>{% blocktrans with name=monitor_name year=month.year month=month|date:'F' %}Heure de {{ name }} pour {{ month }} {{year}}{% endblocktrans %}</h1>
{% else %}
<h1>{% blocktrans with year=month.year month=month|date:'F' %}Heure pour {{ month }} {{year}}{% endblocktrans %}</h1>
{% endif %}
{% if object_list %}
<form method="post">
  {% csrf_token %}
  {{ formset.management_form }}
  <table id="table-with-sum" class="table">
    <thead>
      <tr>
        <td></td>
        {% for form in formset.forms %}
        <th align="center" class="text-center">
          {{ form.date.value }}
          {% for hidden in form.hidden_fields %}
          {{ hidden }}
          {% endfor %}
        </th>
        {% endfor %}
        <th>{% trans "Total" %}</th>
      </tr>
    </thead>

    <tbody>
      {% for label, fields in formsetrevert.items %}
      <tr>
        <th>{{ label|capfirst }}</th>
        {% for field in fields %}
        <td align="center">
          {% bootstrap_field field layout="inline"  size='small' %}
        </td>
        {% endfor %}
        <td class="text-center"></td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>{% trans "Total"%}</th>
        {% for form in formset.forms %}
        <td align="center" class="text-center">
        </td>
        {% endfor %}
        <td class="text-center"></td>
      </tr>
      <tr>
        <th>{% trans "Total CHF"%}</th>
        {% for form in formset.forms %}
        <td align="center" class="text-center">
        </td>
        {% endfor %}
        <td class="text-center"></td>
      </tr>
    </tfoot>
  </table>
  {% buttons %}
  <div class="pull-right hidden-print">
    {% if can_print %}
    <a class="btn btn-default" title="{% blocktrans %}Imprimer{% endblocktrans %}" href="javascript:window.print()">
      <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
    </a>
    {% endif %}
    <button type="submit" class="btn btn-primary">{% trans "Enregistrer" %}</button>
  </div>
  <a class="btn btn-default hidden-print" href="{% url 'home' %}">{% trans "Annuler" %}</a>
  {% endbuttons %}
</form>
{% else %}
{{ month }}, {{ current_date }}
{% if in_the_future %}
  <p>{% trans "Vous ne pouvez pas entrer des heures dans le futur" %}</p>
{% else %}
  <p>{% trans "Vous n'avez pas travaillé ce mois" %}</p>
{% endif %}
{% endif %}

<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", function (event) {
    $("table#table-with-sum").change(function (e) {
      $('table#table-with-sum > thead > tr > th:not(:last)').each(function (index) {
        var total = 0;
        var sum_salary = 0;
        $('table#table-with-sum > tbody > tr').each(function () {
          const input = $(this).children('td').eq(index).find("input[type=number]")
          let value = parseFloat(input.val());
          if (!isNaN(value)) {
            if (input.data("customType") == "hours") {
              total += value;
            }
            if (input.data("unitPrice")) {
              sum_salary += parseFloat(input.data("unitPrice")) * value;
            }
          }
        });
        const hours = Math.trunc(total);
        const minutes = (Math.abs(total) - Math.abs(hours)) * 60 % 60;
        $('table#table-with-sum > tfoot > tr:first > td').eq(index).data("floatValue", total).text((
          total < 0 ? "-" : "") + ("0" + Math.abs(hours)).slice(-2) + ":" + ("0" + minutes).slice(-2));
        $('table#table-with-sum > tfoot > tr:nth-child(2) > td').eq(index).data("floatValue", sum_salary)
          .text(sum_salary.toFixed(2))
      });
      $('table#table-with-sum > tbody > tr').each(function () {
        const sum = $(this).find("input[type=number]").get().reduce(function (total, input) {
          let value = parseFloat($(input).val());
          if (!isNaN(value)) {
            return (total || 0) + value;
          }
          return total;
        }, null);
        if (sum !== null) {
          if ($(this).find("input[type=number]").first().data("customType") == "hours") {
            const hours = Math.trunc(sum);
            const minutes = (Math.abs(sum) - Math.abs(hours)) * 60 % 60;
            $(this).find(' > td:last').text((sum < 0 ? "-" : "") + ("0" +
              Math.abs(hours)).slice(-2) + ":" + ("0" +
              minutes).slice(-2));
          } else {
            $(this).find(' > td:last').text(sum);
          }
        }

      });
      $('table#table-with-sum > tfoot > tr').each(function (index) {
        const sum = $(this).find("td:not(:last)").get().reduce(function (total, elem) {
          let value = parseFloat($(elem).data('floatValue'));
          if (!isNaN(value)) {
            return (total || 0) + value;
          }
          return total;
        }, null);
        if (index == 0){
            const hours = Math.trunc(sum);
            const minutes = (Math.abs(sum) - Math.abs(hours)) * 60 % 60;
            $(this).find(' > td:last').text((sum < 0 ? "-" : "") + ("0" +
              Math.abs(hours)).slice(-2) + ":" + ("0" +
              minutes).slice(-2));
        } else {
            $(this).find(' > td:last').text(sum.toFixed(2));
        }
      });
    }).change();
  });

</script>
{% endblock %}
