<!DOCTYPE html>
{% load bootstrap3 static compress i18n %}
{% load dv_filters %}
<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block bootstrap3_title %}{% block head_title %}{% trans "Accueil" %}{% endblock %}{% block head_title_postfix %} - {% trans "Défi Vélo" %}{% endblock %}{% endblock %}
</title>
    {% bootstrap_css %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{% static "favicon.ico" %}" />
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "style/main.scss" %}">
        <link rel="stylesheet" type="text/x-scss" media="print" href="{% static "style/print.scss" %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-datetimepicker.css' %}" />
    {% endcompress %}
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block bootstrap3_extra_head %}{% endblock %}
</head>

<body>
{% include "print/header.html" %}

{% block bootstrap3_content %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans "Dérouler la navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"  style="margin-top:-15px;" title="{% trans "Défi Vélo" %}">
                <img src="{% static 'img/defivelo.png' %}" alt="{% trans "Défi Vélo" %}">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% include "header.html" %}
        </div>
      </div>
    </nav>
    <div class="{% block container-class %}container{% endblock %}" role="main">
    {% block container %}
      <span class="hidden-print">{% bootstrap_messages %}</span>
      {% block content %}{% endblock %}
    {% endblock %}
    </div> <!-- /container -->
{% endblock %}
<footer class="footer hidden-print">
    <div class="container">
    {% block footer %}
        <ul class="list-inline text-muted pull-right">
            <li><a href="https://github.com/defivelo/db/commit/{% vcs_commit %}">{% vcs_version as vcs_version %}{% blocktrans %}Version {{ vcs_version }}{% endblocktrans %}</a></li>
            <li><a href="{% url 'license' %}">{% trans "AGPLv3 License" %}</a></li>
            <li><span title="Copyright">©</span> {% now 'Y' as now_year %}{% trans "Défi Vélo" %} 2015{% if now_year|add:'0' > 2015 %}-{{ now_year|add:'0' }}{% endif %}</li>
        </ul>
        <ul class="list-inline text-muted">
            <li><a href="https://github.com/defivelo/db/"><span class="glyphicon glyphicon-wrench"></span> {% trans "Code source" %}</a></li>
            <li><a href="https://github.com/defivelo/db/issues"><span class="glyphicon glyphicon-tasks"></span> {% trans "Rapports de bugs" %}</a></li>
            <li><a href="https://www.transifex.com/defivelo/db"><span class="glyphicon glyphicon-globe"></span> {% trans "Traduction" %}</a></li>
        </ul>
    {% endblock %}
    </div>
</footer>
{% include "print/footer.html" %}
{% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}

{% compress js %}
    {% block bootstrap3_extra_script %}{% endblock %}
{% endcompress %}
</body>
</html>
