{% load i18n %}
{% load account %}

<ul class="nav navbar-nav">
    <li{% if menu_category = 'home' %} class="active"{% endif %}><a href="{% url 'home' %}">{% trans "Accueil" %}</a></li>
    {% if user.is_authenticated %}
        <li{% if menu_category = 'session' %} class="active"{% endif %}><a href="{% url 'session-list' %}">{% trans "Sessions" %}</a></li>
        <li{% if menu_category = 'organization' %} class="active"{% endif %}><a href="{% url 'organization-list' %}">{% trans "Établissements" %}</a></li>
    {% endif %}
</ul>

<ul class="nav navbar-nav navbar-right">  
    {% include "language_switcher.html" %}

    {% if user.is_authenticated %}
    <li class="{% if menu_category = 'profile' %}active {% endif %}dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% user_display user %}<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="{% url 'profile-update' %}">{% trans "Profil" %}</a></li>
        <li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a></li>
        </ul>
    </li>
    {% else %}
    <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
    {% endif %}
</ul>