{% load i18n %}
{% load account %}
{% load dv_filters %}
{% now 'Y' as now_year %}

<ul class="nav navbar-nav">
    {% if request.user.is_authenticated %}
        {% if season and user|can:'challenge_season_crud' %}
            <li><a href="{% url 'season-list' year=now_year %}" title="{% trans "Toutes les saisons" %}"><span class="glyphicon glyphicon-th-list"></span>&nbsp;</a></li>
            <li class="active">
                <a href="{% url 'season-detail' season.pk %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    {{ season.desc_abbr }} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li{% if 'season-detail' in submenu_category %} class="active"{% endif %}><a href="{% url 'season-detail' season.pk %}">{% trans "Toutes les sessions" %}</a></li>
                    <li{% if 'season-availability' in submenu_category %} class="active"{% endif %}><a href="{% url 'season-availabilities' season.pk %}">{% trans "Planning" %}</a></li>
                    {% if user|can:'challenge_invoice_cru' %}
                    <li{% if 'season-orga-list' in submenu_category %} class="active"{% endif %}>
                        <a href="{% url 'invoice-orga-list' seasonpk=season.pk %}">{% trans "Facturation établissements" %}</a>
                    </li>
                    {% endif %}
                    <li role="separator" class="divider"></li>
                    <li{% if 'season-helperlist' in submenu_category %} class="active"{% endif %}><a href="{% url 'season-helperlist' season.pk %}">{% trans "Liste des moniteurs" %}</a></li>
                    <li{% if 'season-actorlist' in submenu_category %} class="active"{% endif %}><a href="{% url 'season-actorlist' season.pk %}">{% trans "Liste des intervenants" %}</a></li>
                </ul>
            </li>
        {% else %}
            <li{% if 'season' in menu_category %} class="active"{% endif %}>
                <a href="{% url 'season-list' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Saisons" %}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                    {% for season in current_seasons %}
                        <li>
                            {% if user|can:'challenge_season_crud' and user|anyofusercantons:season.cantons %}
                                <a href="{% url 'season-detail' pk=season.pk %}">
                            {% elif season.staff_can_update_availability %}
                                <a href="{% url 'season-availabilities-update' pk=season.pk helperpk=user.pk %}"
                                title="{% trans "Mes disponibilités" %}">
                            {% else %}
                                <a style="cursor: not-allowed;" title="{% trans "Saison pas ouverte" %}">
                            {% endif %}
                            {{ season.desc_abbr }}</a>
                        </li>
                    {% endfor %}
                    {% if current_seasons %}
                    <li role="separator" class="divider"></li>
                    {% endif %}
                    <li><a href="{% url 'season-list' year=now_year %}">{% trans "Toutes les saisons" %}</a></li>
                    <li{% if 'qualifs-calendar' in submenu_category %} class="active"{% endif %}><a href="{% url 'qualifs-calendar' %}">{% trans "Calendrier" %}</a></li>
                    {% if user|can:'challenge_invoice_cru' %}
                      <li><a href="{% url 'invoices-yearly-list' year=now_year %}">{% trans "Facturation" %}</a></li>
                    {% endif %}
                    {% if not user|can:'challenge_season_crud' %}
                        <li><a target="_blank" href="{% url 'public-nextqualifs' %}">{% trans "Prochaines Qualifs" %}</a></li>
                    {% endif %}
                    {% if user|can:'challenge_season_crud' %}
                        <li><a href="{% url 'season-create' %}">{% trans "Créer une saison" %}</a></li>
                    {% endif %}
                    </ul>
            </li>
            {% if user|can:'user_view_list' %}
                <li{% if 'user' in menu_category %} class="active"{% endif %}><a href="{% url 'user-list' %}">{% trans "Personnes" %}</a></li>
            {% endif %}
            {% if user|can:'orga_crud' %}
                <li{% if 'organization' in menu_category  %} class="active"{% endif %}><a href="{% url 'organization-list' %}">{% trans "Établissements" %}</a></li>
            {% endif %}
            {% if user|can:'challenge_season_crud' %}
                <li{% if 'exports' in menu_category  %} class="active"{% endif %}>
                    <a href="{% url 'season-exports' %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Exports" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li{% if 'exports-season' in submenu_category %} class="active"{% endif %}><a href="{% url 'season-exports' %}">{% trans "Exports par saison" %}</a></li>
                            <li{% if 'exports-month' in submenu_category %} class="active"{% endif %}><a href="{% url 'month-exports' %}">{% trans "Exports par mois" %}</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a target="_blank" href="{% url 'public-nextqualifs' %}">{% trans "Prochaines Qualifs (public)" %}</a></li>
                        </ul>
                    </a>
                </li>
            {% endif %}
            {% if user|can:'settings_crud' %}
                <li{% if 'settings' in menu_category  %} class="active"{% endif %}>
                    <a href="{% url 'annualstatesettings-list' year=now.year %}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% trans "Admin" %}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="{% url 'annualstatesettings-list' year=now.year %}">{% trans "Configurations cantonales annuelles" %}</a>
                            </li>
                        </ul>
                    </a>
                </li>
            {% endif %}
        {% endif %}
    {% endif %}
</ul>

<ul class="nav navbar-nav navbar-right">  
    {% include "language_switcher.html" %}

    {% if request.user.is_authenticated %}
    <li class="{% if profile_category %}active {% endif %}dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{% user_display request.user %}<span class="caret"></span></a>
        <ul class="dropdown-menu">
        <li><a href="{% url 'profile-detail' %}">{% trans "Profil" %}</a></li>
        <li><a href="{% url 'account_change_password' %}">{% trans "Change password" %}</a></li>
        <li><a href="{% url 'account_logout' %}">{% trans "Log out" %}</a></li>
        </ul>
    </li>
    {% else %}
    <li><a href="{% url 'account_login' %}">{% trans "Log in" %}</a></li>
    {% endif %}
</ul>
