[submodule "ext/bootstrap-datetimepicker"]
	path = ext/bootstrap-datetimepicker
	url = https://github.com/Eonasdan/bootstrap-datetimepicker.git
	branch = master
[submodule "ext/moment"]
	path = ext/moment
	url = https://github.com/moment/moment.git
	branch = master
[submodule "locale"]
	path = locale
	url = ../intranet-i18n.git
	branch = master
