{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load permission_tags %}

{% block head_title %}{% blocktrans with name=userprofile.get_full_name %}Envoyer les données de connexion à {{name}} ?{% endblocktrans %}{% endblock %}
{% block content %}
    <h2>{% blocktrans with name=userprofile.get_full_name %}Envoyer les données de connexion à {{name}} ?{% endblocktrans %}</h2>
    <blockquote><pre style="white-space: pre-wrap;">{% include "auth/email_user_send_credentials.txt" with userprofile=userprofile fromuser=request.user current_site=current_site login_uri=login_uri %}</pre>
    </blockquote>
    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' size='small' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% trans 'Envoyer' %}</button>
            <a class="btn btn-default" href="{% url 'user-list' %}">{% trans "Annuler" %}</a>
        {% endbuttons %}
    </form>
{% endblock %}