{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block content %}
    <div class="panel panel-default vcard">
        <div class="panel-heading">
            <h2 class="panel-title">
                <a href="{{ userprofile.get_absolute_url }}" class="fn">{{ userprofile.get_full_name }}</a>
                {% if userprofile.profile.formation %}
                    <span class="badge pull-right">{{ userprofile.profile.formation_full }} {{ userprofile.profile.formation_icon|safe }}</span>
                {% endif %}
            </h2>
        </div>
        <div class="adr panel-body">
            <div class="street-address">{{ userprofile.profile.address_street }} {{ userprofile.profile.address_no }}</div>
            <div>
                <span class="postal-code">{{ userprofile.address_zip }}</span> <span class="locality">{{ userprofile.profile.address_city }}</span>
                {% if userprofile.profile.address_canton %}
                ({{ userprofile.profile.address_canton }})
                {% endif %}
            </div>
            
            <div>
                {% if userprofile.email %}<a class="email" href="mailto:{{ userprofile.email }}">{{ userprofile.email }}</a>{% endif %}
                {% if userprofile.profile.natel %}<div class="tel">{{ userprofile.profile.natel }}</div>{% endif %}
                {% if userprofile.profile.iban %}<div class="iban">{{ userprofile.profile.iban }}</div>{% endif %}
            </div>
        </div>
    </div>
    {% buttons %}
        <a class="btn btn-primary pull-right" href="{% url 'user-update' pk=userprofile.pk %}">{% trans "Éditer" %}</a>
        <a class="btn btn-default" href="{% url 'user-list' %}">{% trans "Retour à la liste des utilisateurs" %}</a>
    {% endbuttons %}
{% endblock %}