{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Profil" %}{% endblock %}

{% block content %}
    <h2>{% if not userprofile %}{% trans "Nouvel utilisateur" %}
        {% else %}{% user_display userprofile %}
        {% endif %}</h2>
    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_field form.first_name layout='horizontal' size='small' %}
        {% bootstrap_field form.last_name layout='horizontal' size='small' %}
        {% include "address_bootstrap_form.html" %}
        {% bootstrap_field form.natel layout='horizontal' size='small' %}
        {% bootstrap_field form.email layout='horizontal' size='small' %}
        {% bootstrap_field form.iban layout='horizontal' size='small' %}
        {% bootstrap_field form.formation layout='horizontal' size='small' %}

        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% trans 'Update' %}</button>
            {% if userprofile == request.user %}
                <a class="btn btn-default pull-right" href="{% url 'account_email' %}">{% blocktrans with email=request.user.email %}Changer d'email ({{ email }}){% endblocktrans %}</a>
            {% else %}
                <a class="btn btn-default" href="{% url 'user-list' %}">{% trans "Annuler" %}</a>
            {% endif %}
        {% endbuttons %}
    </form>

{% endblock %}