{% extends "base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap3 %}
{% load permission_tags %}
{% block head_title %}{% trans "Users" %}{% endblock %}

{% block content %}
    {% if filter.form %}
        <div class="modal fade bs-user-filters-modal" tabindex="-1" role="dialog" aria-labelledby="filters">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="{% trans "Fermer" %}"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">{% trans "Filtrer la liste des utilisateurs" %}</h4>
                    </div>
                    <div class="modal-body">
                    <form method="GET" action="." class="form-inline">
                        {% bootstrap_form filter.form size='small' exclude='q' show_help=False %}

                        <div class="modal-footer">
                            {% buttons %}
                                <a href="{% url 'user-list' %}" class="btn btn-default">{% trans 'Reset' %}</a>
                                <button type="submit" class="btn btn-primary">{% trans 'Filter' %}</button>
                            {% endbuttons %}
                        </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="hidden-print">
        {% if request.user|can:"user_view_list" %}
        <div class="btn-group" role="group" aria-label="exports">
            {% with 'csv ods xls' as formats %}
                {% for format in formats.split %}
                    <a class="btn btn-info btn-sm" title="{% blocktrans %}Télécharger au format {{ format }}{% endblocktrans %}"
                       href="{% url 'user-list-export' format %}?{{ filter_querystring }}"
                        ">
                        {% ifchanged %}
                            <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                        {% endifchanged %}
                        {{ format }}
                    </a>
                {% endfor %}
            {% endwith %}
        </div>
        {% endif %}

        {% if filter.form %}
            <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target=".bs-user-filters-modal">
                <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
                {% trans "Filtres" %}
            </button>
            <form method="GET" action="." class="form-inline pull-right col-xs-2">
                <div class="input-group">
                    {% bootstrap_field filter.form.q show_label=False show_help=False bound_css_class='' addon_after='<span class="glyphicon glyphicon-search"></span>' %}
                </div>
            </form>
        {% endif %}
    </div>

    <table class="table">
    <thead>
        <tr>
            <th>{% trans "Prénom" %}</th>
            <th>{% trans "Nom" %}</th>
            <th>{% trans "Email" %}</th>
            <th>{% trans "Natel" %}</th>
            <th>{% trans "Statut" %}</th>
            <th>{% trans "Cantons" %}</th>
            <th>{% trans "Rôle" %}</th>
            <th>{# Boutons #}</th>
        </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr>
            <td>{% if request.user|can:'user_detail_other' %}<a href="{% url 'user-detail' pk=user.pk %}">{{ user.first_name }}</a>{% else %}{{ user.first_name }}{% endif %}</td>
            <td>{% if request.user|can:'user_detail_other' %}<a href="{% url 'user-detail' pk=user.pk %}">{{ user.last_name }}{% else %}{{ user.last_name }}{% endif %}</a></td>
            <td><a href="mailto:{{ user.profile.mailtolink|urlencode }}">{{ user.email }}</a></td>
            <td><a href="tel:{{ user.profile.natel_int }}">{{ user.profile.natel }}</a></td>
            <td class="{{ user.profile.status_class }}">
                {{ user.profile.status_icon|safe }}
            </td>
            <td>
               {{ user.profile.affiliation_canton }}{% if user.profile.activity_cantons %}, {{ user.profile.activity_cantons|join:", " }}{% endif %}
            </td>
            <td>
                {{ user.profile.formation_icon|safe }}
                {{ user.profile.actor_icon|default:"" }}
            </td>
            <td>
                {% if request.user|can:"user_edit_other" or request.user.pk == user.pk %}
                <a class="btn btn-primary btn-xs" href="{% url 'user-update' pk=user.pk %}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true" title="{% trans "Éditer" %}"></span>
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

    {% if page_obj %}
    <nav class="hidden-print">
        <ul class="pager">
        {% if page_obj.has_previous %}
            <li class="previous btn-xs">
                <a href="{% url 'user-list' %}?page={{ page_obj.previous_page_number }}&{{ filter_querystring }}">
                    <span aria-hidden="true">&larr;</span> {% blocktrans with page_obj.previous_page_number as number %}Page {{number}}{% endblocktrans %}
                </a>
            </li>
        {% endif %}
        {% if page_obj.has_next %}
            <li class="next btn-xs">
                <a href="{% url 'user-list' %}?page={{ page_obj.next_page_number }}&{{ filter_querystring }}">
                    {% blocktrans with page_obj.next_page_number as number %}Page {{number}}{% endblocktrans %} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        {% endif %}
        </ul>
    </nav>
    {% endif %}
    {% if request.user|can:"user_create" %}
    <div class="hidden-print">
        <a class="btn btn-primary pull-right" href="{% url 'user-create' %}">
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            {% trans "Nouvel utilisateur" %}
        </a>
    </div>
    {% endif %}

{% endblock %}