/* Dimensions dans la page */
/* /!\ Divisible par 3 ! */
$global-footer-height: 30px;

html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 70px;
    /* Margin bottom by footer height */
    margin-bottom: ($global-footer-height + 20px);
}

form.language-selector {
    /* Taken from Bootstrap code */
    button {
        text-align: left;
        padding: 3px 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: #333 !important;
        white-space: nowrap;
        &:hover {
            color: #262626;
            text-decoration: none;
            background-color: #f5f5f5;
        }
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    
    .container .text-muted {
        margin: $global-footer-height/3 0;
        font-size: 0.7em;
    }
}

// Click-buttons, reproduce the Bootstrap colors
.btn.active[data-active-class="primary"] {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
.btn.active[data-active-class="success"] {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.btn.active[data-active-class="info"] {
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
.btn.active[data-active-class="warning"] {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn.active[data-active-class="danger"] {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
// Click-buttons, but change the icon too
.btn.active span[data-active-icon="check"]:before {
    content: "\e067"; // -check
}