// Page settings
@page {
    size: A4;
    // Marges minimum pour A4
    // margin: 10mm 10mm 15mm 10mm;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: auto;
    margin-bottom: 16px;
}

header#print-header {
    #print-logo {
        height: 1cm;
        width: auto;
    }
}

footer#print-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 0;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 30px;
    text-align: center;
    &>small {
        // Ajoute un saut de ligne entre les deux
        &:before {
            content: ' ';
            display: block;
        }
    }
}

/* No underscores */
a, a:visited {
    text-decoration: none;
}

/* We want no link hrefs */
a[href]:after {
    content: "";
}
/* And no attr afters in the calendar either */
.dvqualifs-calendar {
    abbr[title]:after {
        content: "";
    }
}

/* Reduce margins */
table.table:not(.dvqualifs-calendar) {
    margin: 0;
    &>tbody,
    &>tfoot,
    &>thead {
        &>tr {
            &>td,
            &>th,{
                border: 1px solid #ddd;
                padding: 6px;
            }
        }
    }
}
