{% extends "base.html" %}
{% load i18n bootstrap3 dv_filters %}
{% block head_title %}{{ season.desc }}{% endblock %}

{% block content %}
    {% include "challenge/season_header.html" with season=season only %}
    <h4>{% trans "Toutes les sessions" %}</h4>

    <table class="table">
    {% for session in season|sessions_by_orga:request.user %}
        {% ifchanged session.orga %}
            <tr><th colspan="3">{{ session.orga }}</th></th>
        {% endifchanged %}
        {% include "challenge/session_item_in_list.html" with session=session season=season user=request.user user_can_edit_season_sessions=user_can_edit_season_sessions only %}
    {% endfor %}
    </table>
     
    {% include "challenge/session_list_links.html" %}
{% endblock %}
