{% load i18n %}
{% load dv_filters %}
<thead>
  {% with can_crud=user|can:'challenge_season_crud' %}
    <tr>
        <td rowspan="{% if chosen_stats %}6{% else %}5{% endif %}" colspan="{{ preamble_columns|default:3 }}">&nbsp;</td>
        {% if chosen_stats %}<td rowspan="6">{% trans "Sél." %}</td>{% endif %}
        {% if wishfield %}<td rowspan="6">{% trans "Qualifs max" %}</td>{% endif %}
        {% for session in sessions %}
            <th data-test="orga-{{ session.pk }}" class="text-center" style="vertical-align: top;">
                {% if session.orga.abbr %}{{ session.orga.abbr_verb }}{% else %}{{ session.orga.name }}{% endif %}
            </th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center">{% if session.address_city %}{{ session.address_city }}{% elif session.orga.address_city %}{{ session.orga.address_city }}{% endif %}</th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center">{{ session.day|date:"D" }} {{ session.day|date_ch_short }}</th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <td class="text-center">{{ session.begin|date:"H\hi" }} {{ session.end|date:"H\hi" }}</td>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center">
            {% if can_crud or user|unprivileged_user_can_see:session.season and session.visible %}
              <a id="sess{{session.pk}}" href="{% url 'session-detail' seasonpk=session.season.pk pk=session.pk %}" title="{% trans "Vers la session" %}">
            {% endif %}
            {% blocktrans count n=session.n_qualifs|add:'0' %}1 Qualif’{% plural %}{{ n }} Qualifs{% endblocktrans %}
            {% if can_crud or user|unprivileged_user_can_see:session.season and session.visible %}
              </a>
            {% endif %}
            </th>
        {% endfor %}</tr>
    {% if chosen_stats %}
        <tr>{% for session in sessions %}
                <td>
                    <dl class="small dl-horizontal">
                        {% with c=session.n_leaders %}
                            <dt>{% trans "M2" %}</dt>
                            <dd data-test-m2="{{ session.pk }}">{% if c < session.helper_needs.2 %}
                                    {{ c }}/{{ session.helper_needs.2 }}
                                {% elif c == session.helper_needs.2 %}
                                    <span class="glyphicon glyphicon-ok" title="{{ c }}/{{ session.helper_needs.2 }}"></span>
                                {% else %}
                                    {{ c }}/{{ session.helper_needs.2 }}
                                    <span class="glyphicon glyphicon-alert" title="{{ c }}/{{ session.helper_needs.2 }}"></span>
                                {% endif %}
                            </dd>
                        {% endwith %}
                        {% with c=session.n_helpers %}
                            <dt>{% trans "M1" %}</dt>
                            <dd data-test-m1="{{ session.pk }}">{% if c < session.helper_needs.1 %}
                                    {{ c }}/{{ session.helper_needs.1 }}
                                {% elif c == session.helper_needs.1 %}
                                    <span class="glyphicon glyphicon-ok" title="{{ c }}/{{ session.helper_needs.1 }}"></span>
                                {% else %}
                                    {{ c }}/{{ session.helper_needs.1 }}
                                    <span class="glyphicon glyphicon-alert" title="{{ c }}/{{ session.helper_needs.1 }}"></span>
                                {% endif %}
                            </dd>
                        {% endwith %}

                        {% with c=session.n_actors %}
                            <dt>{% trans "Int." %}</dt>
                            <dd>{% if c < session.actor_needs %}
                                    {{ c }}/{{ session.actor_needs }}
                                {% elif c == session.actor_needs %}
                                    <span class="glyphicon glyphicon-ok" title="{{ c }}/{{ session.actor_needs }}"></span>
                                {% else %}
                                    {{ c }}/{{ session.actor_needs }}
                                    <span class="glyphicon glyphicon-alert" title="{{ c }}/{{ session.actor_needs }}"></span>
                                {% endif %}
                            </dd>
                        {% endwith %}
                    </dl>
                </td>
            {% endfor %}</tr>
    {% endif %}
  {% endwith %}
</thead>
