{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load dv_filters %}
{% block head_title %}{% trans "Saison" %} {{ season.pk }}{% endblock %}

{% block content %}
    <h1>{{ season.begin|date:"F Y"|title }} - {{ season.end|date:"F Y" }}</h1>
    <h3>{{ season.cantons_verb|join:", " }}</h3>

    <h4>{% trans "Disponibilités" %}</h4>
        <table class="table text-center">
        {% include "challenge/season_availability_thead.html" with sessions=season.sessions_with_qualifs season=season user=request.user preamble_columns=2 chosen_stats=1 only %}
        <tbody>
            {% for helper_category,helpers in potential_helpers %}
                {% if helpers %}
                    <tr><th colspan="{{ season.sessions_with_qualifs.count|add:"3" }}">{{ helper_category }}</th></tr>
                    {% for helper in helpers %}
                    <tr>
                        <td class="text-left">
                            <a title="{% trans "Éditer les disponibilités" %}" href="{% url 'season-availabilities-update' pk=season.pk helperpk=helper.pk %}">
                                {{ helper.get_full_name }}
                            </a>
                        </td>
                        <td>{{ helper|chosen_staff_for_season:season }}</td>
                        {{ availabilities|useravailsessions_readonly:helper }}
                    </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </tbody>
        </table>

    <div class="text-center">
        <form method="POST" action="" class="form-inline" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">{% trans "Disponibilités" %}</button>
            {% endbuttons %}
        </form>
    </div>

<div class="hidden-print">
    <a class="btn btn-default" href="{% url 'season-detail' season.pk %}">{% trans "Retour à la saison" %}</a>
    <a class="pull-right btn btn-primary" href="{% url 'season-staff-update' season.pk %}">{% trans "Attribuer les moniteurs" %}</a>
</div>
{% endblock %}