{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load dv_filters %}
{% block head_title %}{{ season.desc }}{% endblock %}

{% block content %}
    <h1 title="{{ season.begin|date:"F Y"|title }} - {{ season.end|date:"F Y" }}">{{ season.moment }}</h1>
    <h3>{{ season.cantons_verb|join:", " }}</h3>

    <h4>{% trans "Toutes les sessions" %}</h4>
    <nav>
        <ul class="pager">
            <li><a href="{% url 'session-list' seasonpk=season.pk year=now.year week=now|weeknumber %}">{% trans "Par semaine" %}</a></li>
        </ul>
    </nav>
    
    <table class="table">
    {% for session in season.sessions %}
        {% include "challenge/session_item_in_list.html" with session=session season=season only %}
    {% endfor %}
    </table>
     
    {% include "challenge/session_list_links.html" %}
{% endblock %}