{% extends "base.html" %}{% load i18n bootstrap3 dv_filters %}
{% block head_title %}{{ season.desc }}{% endblock %}

{% block container-class %}container-fluid{% endblock %}

{% block content %}
    <h1>{{ season.begin|date:"F Y"|title }} - {{ season.end|date:"F Y" }}</h1>
    <h3>{{ season.cantons|cantons_abbr:False|join:", " }}</h3>

    <h4>{% trans "Attributions dans les sessions" %}</h4>

    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <table class="table text-center table-avail">
        {% include "challenge/season_availability_thead.html" with sessions=sessions season=season only %}
        <tbody>
            {% for helper_category,helpers in available_helpers %}
                <tr><th colspan="{{ sessions.count|add:"3" }}">{{ helper_category }}</th></tr>
                {% if helpers %}
                    {% for helper in helpers %}
                    <tr>
                        {% include "challenge/season_availability_partial_helper_columns.html" with helper=helper %}
                        {{ form|userstaffsessions:helper }}
                    </tr>
                    {% endfor %}
                    {% if helpers.count > 10 %}
                        {% include "challenge/season_availability_partial_head.html" with sessions=sessions season=season user=request.user only %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% trans "Enregistrer" %}</button>
            <a class="btn btn-default" href="{% url 'season-availabilities' pk=season.pk %}">{% trans "Retour" %}</a>
        {% endbuttons %}
     </form>

{% endblock %}
