{% load dv_filters i18n %}
<td class="text-left">
    <a title="{% trans "Éditer les disponibilités" %}" href="{% url 'season-availabilities-update' pk=season.pk helperpk=helper.pk %}">
        {% if helper.profile.status != 10 %}<em>{% endif %}
            {{ helper.get_full_name }}
        {% if helper.profile.status != 10 %}</em>{% endif %}
    </a>
</td>
<td class="no-vert-border">
    {% if helper.profile.status != 10 %}{{ helper.profile.status_icon }}{% endif %}
    {{ helper.profile.actor_icon }}
</td>
<td class="no-vert-border">
    {% if helper.profile.affiliation_canton in season.cantons %}<em class="small">{% endif %}
        {{ helper.profile.affiliation_canton|canton_abbr }}
    {% if helper.profile.affiliation_canton in season.cantons %}</em>{% endif %}
</td>
{% if availabilities %}
    <td>{{ availabilities|chosen_staff_for_season:helper }}</td>
{% endif %}
