{% extends "base.html" %}
{% load i18n bootstrap3 dv_filters %}
{% block head_title %}{{ season.desc }}{% endblock %}

{% block bootstrap3_extra_head %}
    {{ form.media.css }}
{% endblock %}
{% block bootstrap3_extra_script %}
    {{ form.media.js }}
    {% include 'snippets/autocomplete_i18n_js.html' %}
{% endblock %}

{% block container-class %}container-fluid{% endblock %}

{% block content %}
    {% include "challenge/season_header.html" with season=season only %}
    <h4>{% trans "Planning" %}</h4>
        <table class="table text-center table-avail">
        {% include "challenge/season_availability_thead.html" with sessions=sessions season=season user=request.user preamble_columns=3 chosen_stats=True wishfield=True only %}
        <tbody>
            {% for helper_category,helpers in potential_helpers %}
                {% if helpers %}
                    <tr><th colspan="{{ sessions.count|add:"5" }}">{{ helper_category }}</th></tr>
                    {% for helper in helpers %}
                    <tr>
                        {% include "challenge/season_availability_partial_helper_columns.html" with helper=helper availabilities=availabilities with_link=season.manager_can_crud %}
                        {{ availabilities|useravailsessions_readonly:helper }}
                    </tr>
                    {% endfor %}
                    {% if helpers.count > 10 %}
                        {% include "challenge/season_availability_partial_head.html" with sessions=sessions season=season preamble_columns=5 user=request.user only %}
                    {% endif %}
                {% endif %}
            {% endfor %}
        </tbody>
        </table>


<div class="hidden-print">
    <a class="btn btn-default" href="{% url 'season-detail' season.pk %}">{% trans "Retour à la saison" %}</a>

    <div class="btn-group" role="group" aria-label="exports">
        {% include 'export_buttons.html' with exporturl='season-planning-export' exportargs=season.pk filter_querystring=filter_querystring only %}
    </div>
    {% if season.manager_can_crud %}
        <form method="POST" action="" class="form-inline"  style="display: inline;" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary pull-right">{% trans "Disponibilités" %}</button>
            {% endbuttons %}
        </form>

        <a class="pull-right btn btn-primary" href="{% url 'season-staff-update' season.pk %}">{% trans "Attribuer les moniteurs" %}</a>
    {% endif %}
</div>
{% endblock %}
