{% load i18n %}
{% load dv_filters %}
<thead>
    {% with can_crud=user|can:'challenge_season_crud' %}
    <tr>
        <td rowspan="6" colspan="{{ preamble_columns|default:1 }}">&nbsp;</td>
        {% for session in sessions %}
            <th class="text-center">
                    {{ session.day|date:"j F" }}
            </th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center" style="vertical-align: top;">
                {{ session.orga.name }}
                <br />
                {% if session.address_city %}{{ session.address_city }}{% elif session.orga.address_city %}{{ session.orga.address_city }}{% endif %}
            </td>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center">
                    {{ session.begin|date:"H\hi" }} - {{ session.end|date:"H\hi" }}
            </th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <th class="text-center">
            {% if can_crud %}<a href="{% url 'session-detail' seasonpk=season.pk pk=session.pk %}" title="{% trans "Vers la session" %}">{% endif %}
                {% blocktrans count n=session.qualifications.count %}1 qualification{% plural %}{{ n }} qualifications{% endblocktrans %}
            {% if can_crud %}</a>{% endif %}
            </th>
        {% endfor %}</tr>
    <tr>{% for session in sessions %}
            <td>
            {% if chosen_stats %}
                <dl class="small dl-horizontal">
                    <dt>{% trans "Moniteurs 2" %}</dt>
                    <dd>{% if session.chosen_helpers_M2.count < session.helper_needs.2 %}
                            {{ session.chosen_helpers_M2.count }}/{{ session.helper_needs.2 }}
                        {% else %}
                            <span class="glyphicon glyphicon-ok" title="{{ session.chosen_helpers_M2.count }}/{{ session.helper_needs.2 }}"></span>
                        {% endif %}
                    </dd>
                    <dt>{% trans "Moniteurs" %}</dt>
                    <dd>{% if session.chosen_helpers.count < session.helper_needs.1 %}
                            {{ session.chosen_helpers.count }}/{{ session.helper_needs.1 }}
                        {% else %}
                            <span class="glyphicon glyphicon-ok" title="{{ session.chosen_helpers.count }}/{{ session.helper_needs.1 }}"></span>
                        {% endif %}
                    </dd>
                    </dd>

                    <dt>{% trans "Intervenants" %}</dt>
                    <dd>{% if session.chosen_actors.count < session.actor_needs %}
                            {{ session.chosen_actors.count }}/{{ session.actor_needs }}
                        {% else %}
                            <span class="glyphicon glyphicon-ok" title="{{ session.chosen_actors.count }}/{{ session.actor_needs }}"></span>
                        {% endif %}
                    </dd>
                </dl>
            {% endif %}
            </td>
        {% endfor %}</tr>
    {% endwith %}
</thead>
