{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% if session %}{% trans "Édition de la session" %}{% else %}{% trans "Nouvelle session" %}{% endif %}{% endblock %}

{% block bootstrap3_extra_head %}
{{ form.media.css }}
{% endblock %}
{% block bootstrap3_extra_script %}
{{ form.media.js }}
{% endblock %}

{% block content %}
    <h1>{% if session %}{% trans "Édition de la session" %}{% else %}{% trans "Nouvelle session" %}{% endif %}</h1>


    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <h3>{% trans "Emplacement" %}</h3>
        {% bootstrap_field form.organization layout='horizontal' size='small' %}
        {% bootstrap_field form.day layout='horizontal' size='small' %}
        {% bootstrap_field form.begin layout='horizontal' size='small' %}
        {% include "address_bootstrap_form.html" %}
        <h3>{% trans "Logistique" %}</h3>
        {% bootstrap_field form.fallback_plan layout='horizontal' size='small' %}
        {% bootstrap_field form.apples layout='horizontal' size='small' %}
        {% bootstrap_field form.helpers_time layout='horizontal' size='small' %}
        {% bootstrap_field form.helpers_place layout='horizontal' size='small' %}
        {% bootstrap_field form.comments layout='horizontal' size='small' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% trans "Enregistrer" %}</button>
            {% if session %}
                <a class="btn btn-default" href="{% url 'session-detail' pk=session.pk %}">{% trans "Annuler" %}</a>
            {% else %}
                <a class="btn btn-default" href="{% url 'session-list' %}">{% trans "Annuler" %}</a>
            {% endif %}
        {% endbuttons %}
    </form>
{% endblock %}