{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load dv_filters %}
{% block head_title %}{% trans "Session" %} {{ session.day|date }}{% if session.begin %}, {{ session.begin|time }}{% endif %}{% endblock %}

{% block content %}
    {% include 'challenge/session_header.html' with session=session only %}

    {% if session_previous or session_next %}
        <nav class="hidden-print">
            <ul class="pager">
            {% if session_previous %}
                <li class="previous btn-xs">
                    <a href="{% url 'session-detail' seasonpk=season.pk pk=session_previous.pk %}" title="{{ session_previous }}">
                        <span aria-hidden="true">&larr;</span> {{ session_previous.short }}
                    </a>
                </li>
            {% endif %}
            {% if session_next %}
                <li class="next btn-xs">
                    <a href="{% url 'session-detail' seasonpk=season.pk pk=session_next.pk  %}" title="{{ session_next }}">
                        {{ session_next.short }}<span aria-hidden="true">&rarr;</span>
                    </a>
                </li>
            {% endif %}
            </ul>
        </nav>
    {% endif %}

    {% if season.manager_can_crud %}
        <div class="hidden-print">
            <a class="btn btn-primary pull-right" href="{% url 'session-update' seasonpk=season.pk pk=session.pk %}">{% trans "Éditer" %}</a>
        </div>
    {% endif %}
    <table class="table table-condensed">
    <tr><th>{% trans "Établissement" %}</th>
        <td><a href="{% url 'organization-detail' session.orga.pk %}">{{ session.orga }}</a>
            {% if session.orga.coordinator_fullname %}
                <br />
                <small>{{ session.orga.coordinator_fullname }}
                    {% if session.orga.coordinator_natel %}
                        <br class="hidden-print"/><span class="visible-print-inline"> |</span>
                        {{ session.orga.coordinator_natel|tel_link }}
                    {% endif %}
                </small>
            {% endif %}
        </td>
    </tr>
    <tr><th>{% trans "Emplacement de la session" %}</th>
        <td>{% if session.place %}<em>{{ session.place }}</em><br />{% endif %}
            {{ session.address_street }} {{ session.address_no }}<br />
            {{ session.address_city }}{% if session.canton %} ({{ session.address_canton }}){% endif %}
        </td>
    </tr>
    <tr class="hidden-print"><th>{% trans "Date" %}</th><td>{{ session.day|date:"l, j F Y" }}</td></tr>
    {% if session.begin and session.duration %}
        <tr><th>{% trans "Horaire" %}</th><td>{{ session.begin|time }} - {{ session.end|time }}</td></tr>
    {% endif %}
    {% if session.superleader or session.replacement_staff.count > 0 %}
        <tr><th>{% trans "Encadrement" %}</th>
            <td><dl class="dl-horizontal small">
                    {% if session.superleader %}
                        <dt>{% trans "Moniteur + / Photographe" %}</dt>
                            <dd>{{ session.superleader|profile_tag }}</dd>
                    {% endif %}
                    {% if session.replacement_staff.count > 0 %}
                        <dt>{% trans "Moniteur de Secours" %}</dt>
                            <dd>{% for avail in session.replacement_staff %}{% if not forloop.first %}<br />{% endif %}{{ avail.helper|profile_tag }}{% endfor %}</dd>
                    {% endif %}
                </dl>
            </td>
        </tr>
    {% endif %}
    {% if session.fallback %}
        <tr><th>{% trans "Mauvais temps" %}</th><td>{{ session.fallback }}</td></tr>
    {% endif %}
    {% if session.n_bikes > 0 or session.n_helmets > 0 %}
        <tr><th>{% trans "Vélos" %}</th>
            <td>{% if session.n_bikes > 0 %}
                    {% blocktrans count n=session.n_bikes %}1 vélo{% plural %}{{ n }} vélos{% endblocktrans %}
                {% endif %}
                {% if session.n_helmets > 0 %}<br class="hidden-print" /><span class="visible-print-inline"> &amp;</span>
                    {% blocktrans count n=session.n_helmets %}1 casque{% plural %}{{ n }} casques{% endblocktrans %}
                {% endif %}
            </td>
        </tr>
    {% endif %}
    {% if session.apples or session.bikes_concept or session.bikes_phone %}
        <tr><th>{% trans "Logistique" %}</th>
            <td><dl class="dl-horizontal small">
                    {% if session.apples %}
                        <dt>{% trans "Pommes" %}</dt>
                            <dd>{{ session.apples }}</dd>
                    {% endif %}
                    {% if session.bikes_concept or session.bikes_phone %}
                        <dt>{% trans "Livraison de vélos" %}</dt>
                            <dd>
                            {{ session.bikes_concept }}{% if session.bikes_concept and session.bikes_phone %}<br />{% endif %}
                            {{ session.bikes_phone|tel_link }}
                            </dd>
                    {% endif %}
                </dl>
            </td>
        </tr>
    {% endif %} 
    <tr><th><span class="visible-print-inline">{% trans "Rendez-vous moniteurs" %}</span>
            <a class="hidden-print" href="{% url 'session-staff-choices' season.pk session.pk %}" title="{% trans "Disponibilités" %}">{% trans "Moniteurs" %}</a></th>
        <td><span class="hidden-print">{% trans "Rendez-vous :" %}</span>
            {{ session.helpers_time_with_default }}{% if session.helpers_place %}<br />{{ session.helpers_place }}{% endif %}
        </td>
    </tr>

    {% if session.errors %}
        <tr class="hidden-print"><th>{% trans "Erreurs" %}</th><td>{{ session.errors }}</td></tr>
    {% endif %}
    {% if session.comments %}
        <tr><th>{% trans "Remarques" %}</th><td>{{ session.comments }}</td></tr>
    {% endif %}
    </table>
    <div class="hidden-print">
        <a class="btn btn-primary pull-right" href="{% url 'season-availabilities' pk=season.pk %}#sess{{session.pk}}">{% trans "Planning" %}</a>
    </div>
    <h2 class="hidden-print">{% trans "Qualifs" %}</h2>
    <table class="table">
    {% if session.qualifications.count > 0 %}
        <tr><th>{% trans "Classe" %}</th>
            {% for quali in session.qualifications.all %}
                <th>{% if not quali.errors %}{% include "ok.html" %}{% endif%}
                {{ forloop.counter }} - {% if season.manager_can_crud %}<a href="{% url 'quali-update' seasonpk=season.pk sessionpk=session.pk pk=quali.pk %}">{{ quali.name }}</a>{% else %}{{ quali.name }}{% endif %}
                {% if quali.errors %}<span class="hidden-print">
                    <br />
                    {{ quali.errors }}</span>
                {% endif %}
                </th>
            {% endfor %}
        </tr>
        <tr><td></td>
                {% for quali in session.qualifications.all %}
                    <td>{{ quali.class_teacher_fullname }}<br />
                        <small>{{ quali.class_teacher_natel|tel_link }}</small>
                        {% if quali.n_participants %}<br />
                            {% blocktrans with n=quali.n_participants %}{{ n }} participants{% endblocktrans %}
                        {% endif %}
                    </td>
                {% endfor %}
        </tr>
        <tr><th>{% trans "Moniteur 2" %}</th>
                {% for quali in session.qualifications.all %}<td>{{ quali.leader|profile_tag }}</td>{% endfor %}</tr>
        <tr><th>{% trans "Moniteurs 1" %}</th>
                {% for quali in session.qualifications.all %}<td>{% for helper in quali.helpers.all %}{{ helper|profile_tag }}<br />{% endfor %}</td>{% endfor %}</tr>
        <tr><th>{% trans "Vélo urbain" %}</th>
                {% for quali in session.qualifications.all %}<td><em>{{ quali.activity_A|default:"" }}</em></td>{% endfor %}</tr>
        <tr><th>{% trans "Mécanique" %}</th>
                {% for quali in session.qualifications.all %}<td><em>{{ quali.activity_B|default:"" }}</em></td>{% endfor %}</tr>
        <tr><th>{% trans "Rencontre" %}</th>
                {% for quali in session.qualifications.all %}
                    <td>
                    <em>{{ quali.activity_C|default:"" }}</em><br />
                    {{ quali.actor|profile_tag }}
                    </td>
                {% endfor %}
        </tr>
        <tr><th>{% trans "Parcours" %}</th>
                {% for quali in session.qualifications.all %}<td><em>{{ forloop.counter|lettercounter }}</em></td>{% endfor %}</tr>
        <tr><th>{% trans "Vélos" %}</th>
                {% for quali in session.qualifications.all %}
                    <td>{% if quali.n_bikes %}
                            {% blocktrans count n=quali.n_bikes %}1 vélo{% plural %}{{ n }} vélos{% endblocktrans %}
                        {% endif %}
                        {% if quali.n_helmets %}<br class="hidden-print" /><span class="visible-print-inline"> &amp;</span>
                            {% blocktrans count n=quali.n_helmets %}1 casque{% plural %}{{ n }} casques{% endblocktrans %}
                        {% endif %}
                    </td>
                {% endfor %}
        </tr>
        <tr><th>{% trans "Remarques" %}</th>
                {% for quali in session.qualifications.all %}<td><em>{{ quali.comments }}</em></td>{% endfor %}</tr>

        {% if season.manager_can_crud %}
            <tr class="hidden-print"><td></td>
                    {% for quali in session.qualifications.all %}
                        <td>
                            <a class="btn btn-primary btn-xs" href="{% url 'quali-update' seasonpk=season.pk sessionpk=session.pk pk=quali.pk %}">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>{% trans "Éditer" %}
                            </a><br />
                            <a class="btn btn-danger btn-xs" href="{% url 'quali-delete' seasonpk=season.pk sessionpk=session.pk pk=quali.pk %}">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>{% trans "Supprimer" %}
                            </a>
                        </td>
                    {% endfor %}
            </tr>
        {% endif %}
    {% endif %}

    {% if season.manager_can_crud %}
        <tr class="hidden-print">
            <td{% if session.qualifications.count > 0 %} colspan="{{ session.qualifications.count|add:1 }}"{% endif %}>
                <form method="POST" action="{% url 'quali-create' seasonpk=season.pk sessionpk=session.pk %}" class="form-horizontal">
                    {% csrf_token %}
                    {{ quali_form_quick }}
                    {% buttons %}<button type="submit" class="btn btn-primary pull-right">{% trans "Créer une Qualif'" %}</button>{% endbuttons %}
                </form>
            </td>
        </tr>
    {% endif %}
    </table>

    <div class="hidden-print">
        {% if season.manager_can_crud %}
            <a class="btn btn-danger pull-right" href="{% url 'session-delete' seasonpk=season.pk pk=session.pk %}">{% trans "Supprimer" %}</a>
        {% endif %}
        <div class="btn-group" role="group" aria-label="exports">
            {% include 'export_buttons.html' with exporturl='session-export' seasonpk=season.pk exportargs=session.pk filter_querystring=filter_querystring only %}
        </div>
        <a class="btn btn-default" href="{% url 'session-list' seasonpk=season.pk year=session.day|date:"Y" week=session.day|weeknumber %}">{% trans "Retour à la liste des sessions" %}</a>
    </div>
{% endblock %}
