{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load dv_filters %}
{% block head_title %}{% blocktrans with session=session %}Suppression de la session {{ session }} ?{% endblocktrans %}{% endblock %}

{% block content %}
    <h1>{% blocktrans with session=session %}Suppression de la session {{ session }} ?{% endblocktrans %}</h1>

    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        <p>{% blocktrans with session=session %}Supprimer la session {{ session }} définitivement (y compris toutes ses Qualifs) ?{% endblocktrans %}</p>

        <h3>{% trans "Qualifs qui seront supprimées" %}</h3>
        <div class="list-group">
        {% for quali in session.qualifications.all %}
            <div class="list-group-item">{{ quali }}</div>
        {% endfor %}
        </div>

        {% buttons %}
            <button type="submit" class="btn btn-danger pull-right">{% trans "Supprimer vraiment" %}</button>
            <a class="btn btn-default" href="{% url 'session-list' seasonpk=season.pk year=session.day|date:"Y" week=session.day|weeknumber %}">{% trans "Retour à la liste des sessions" %}</a>
        {% endbuttons %}
    </form>
{% endblock %}
