{% load i18n %}
<tr class="{% if session.errors %}warning{% endif %}" >
    <th><a href="{% url 'session-detail' seasonpk=season.pk pk=session.pk %}">
        {{ session }}
    </a></th>
    <td>
        {% if session.errors %}
            <span class="glyphicon glyphicon-warning-sign"></span>
            {% trans "Incomplet" %}
        {% endif %}
    </td>
    <td>
        <a href="{% url 'session-availabilities'  seasonpk=season.pk pk=session.pk %}">{% trans "Disponibilités" %}</a>
    </td>
</tr>
