{% load i18n %}
<tr class="{% if session.errors %}warning{% endif %}" >
    <th><a href="{% url 'session-detail' seasonpk=season.pk pk=session.pk %}">
        {{ session }}
    </a></th>
    <td>
        {% if session.errors %}
            <span class="glyphicon glyphicon-warning-sign"></span>
            {% if session.qualifications.count == 0 %}
                {% trans "Aucune Qualif'" %}
            {% else %}
                {% trans "Incomplet" %}
            {% endif %}
        {% else %}
        {% include "ok.html" %}
        {% endif %}
    </td>
    <td>
        {% if session.qualifications.count != 0 %}
            <a href="{% url 'session-staff-choices'  seasonpk=season.pk pk=session.pk %}">{% trans "Présences" %}</a>
        {% endif %}
    </td>
</tr>
