{% load i18n %}
{% if availabilities %}
    <h3>{{ label }}</h3>
    <table class="table">
    {% for avail in availabilities %}
        <tr>
            <td><span class="glyphicon glyphicon-{% if avail.availability == 'y' %}ok-sign{% elif avail.availability == 'i' %}ok-circle{% endif %}" aria-hidden="true" title="{% if avail.availability == 'y' %}{% trans "Oui" %}{% elif avail.availability == 'i' %}{% trans "Si nécessaire" %}{% endif %}"></span></td>
            <td>{{ avail.helper.get_full_name }}</td>
        </tr>
    {% endfor %}
    </table>
{% endif %}