{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirmer l'adresse e-mail" %}{% endblock %}


{% block content %}
<h1>{% trans "Confirmer l'adresse e-mail" %}</h1>

{% if confirmation %}

{% user_display confirmation.email_address.user as user_display %}

<p>{% blocktrans with confirmation.email_address.email as email %}Merci de confirmer que <a href="mailto:{{ email }}">{{ email }}</a> est l'adresse email de {{ user_display }}.{% endblocktrans %}</p>

<form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
{% csrf_token %}
    <button type="submit" class="btn btn-primary">{% trans 'Confirmer' %}</button>
</form>

{% else %}

{% url 'account_email' as email_url %}

<p>{% blocktrans %}Ce lien de confirmation d'adresse email est expiré ou non valide. Veuillez faire <a href="{{ email_url }}">une nouvelle demande de confirmation</a>.{% endblocktrans %}</p>

{% endif %}

{% endblock %}
