{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Se Déconnecter" %}{% endblock %}

{% block content %}
<h1>{% trans "Se Déconnecter" %}</h1>

<p>{% trans 'Êtes-vous sûr de vouloir vous déconnecter ?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    {% buttons %}
        <button type="submit" class="btn btn-primary">{% trans "Se Déconnecter" %}</button>
    {% endbuttons %}
</form>
{% endblock %}
