{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block content %}
    <h1>{% trans "Réinitialisation du mot de passe" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>{% trans "Mot de passe oublié ? Indiquez votre adresse email ci-dessous et nous vous enverrons un email pour le réinitialiser." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% buttons %}
            <button type="submit" class="btn btn-primary">{% trans 'Réinitialiser mon mot de passe' %}</button>
        {% endbuttons %}
    </form>

    <p>{% blocktrans %}Merci de nous contacter si vous n'arrivez pas à réinitialiser votre mot de passe.{% endblocktrans %}</p>
{% endblock %}