{% extends "account/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load account %}

{% block head_title %}{% trans "Réinitialisation du mot de passe" %}{% endblock %}

{% block content %}
  <h1>{% trans "Réinitialisation du mot de passe" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>{% blocktrans %}Nous vous avons envoyé un email de vérification. Merci de cliquer sur le lien inclus dans ce courriel. Contactez-nous si vous ne l'avez pas reçu d'ici quelques minutes.{% endblocktrans %}</p>
{% endblock %}
