.invoice-address-from {
  float: left;
}
.invoice-address-to {
  float: right;
}
.invoice-date {
  clear: both;
  float: right;
  margin-top: 3em;
}

.invoice-title {
  clear: both;
  margin: 4em auto;
}

.invoice-bank-details {
  float: left;
  margin-top: 4em;
  margin-right: 3em;
}

.invoice-footer-closing {
  clear: both;
  float: right;
  text-align: right;
}
