{% extends "base.html" %}
{% load i18n bootstrap3 dv_filters %}

{% block head_title %}{% blocktrans with name=userprofile.get_full_name %}Modifier le rôle de  {{name}} ?{% endblocktrans %}{% endblock %}
{% block content %}
    <h2>{% blocktrans with name=userprofile.get_full_name %}Modifier le rôle de {{name}} ?{% endblocktrans %}
    </h2>
    <form method="POST" action="" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout='horizontal' size='small' %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">{% trans 'Confirmer' %}</button>
            <a class="btn btn-default" href="{% url 'user-detail' userprofile.id %}">{% trans "Annuler" %}</a>
        {% endbuttons %}
    </form>
{% endblock %}

