{% extends "base.html" %}
{% load i18n bootstrap3 dv_filters %}

{% block head_title %}{% blocktrans with name=userprofile.get_full_name %}Modifier le niveau d’accès de {{name}} ?{% endblocktrans %}{% endblock %}
{% block content %}
  <div class="panel panel-warning">
    <div class="panel-heading">
      <h2 class="panel-title">{% blocktrans with name=userprofile.get_full_name %}Modifier le niveau d’accès de {{name}} ?{% endblocktrans %}</h2>
    </div>
    <div class="panel-body">
      <form method="POST" action="" class="form-horizontal">
          {% csrf_token %}
          {% bootstrap_form form layout='horizontal' size='small' %}
          {% buttons %}
              <button type="submit" class="btn btn-warning pull-right">{% trans 'Confirmer' %}</button>
              <a class="btn btn-default" href="{% url 'user-detail' userprofile.id %}">{% trans "Annuler" %}</a>
          {% endbuttons %}
      </form>
    </div>
  </div>
{% endblock %}

{% block bootstrap3_extra_script %}
{{ form.media.js }}
<script type="text/javascript">
function onlyStatesIfStateManager() {
    // Ne permet pas la coche dans le canton d’activité pour Défi Vélo Mobile
    [
    {role: 'state_manager', name: 'managed_states'},
    {role: 'coordinator', name: 'managed_organizations'},
    ].forEach(fieldConfig => {
      disabled = $( '#id_role' ).val() != fieldConfig.role;
      $( '#id_'+fieldConfig.name+' input[name="'+fieldConfig.name+'"]').prop("disabled", disabled);
      if (disabled) {
        $( '#id_'+fieldConfig.name).parents(".form-group").hide()
      } else {
        $( '#id_'+fieldConfig.name).parents(".form-group").show()
      }
    })
}

$( '#id_role' ).change( onlyStatesIfStateManager );

onlyStatesIfStateManager();
</script>
{% endblock %}
