{% extends "base.html" %}
{% load i18n dv_filters %}

{% block head_title %}{% blocktrans with year=export_period.year season=export_period.season|season_verb %}Exports pour la saison {{ season }} {{year}}{% endblocktrans %}{% endblock %}

{% block content %}
<nav>
    <ul class="pager">
        <li class="previous">
            <a href="{% url nav_url dv_season=previous_period.season year=previous_period.year %}">
                <span aria-hidden="true">←</span> {{ previous_period.season|season_verb }} {{ previous_period.year }} 
            </a>
        </li>
        {% if dataset %}
            <li><a href="{% url 'exports' dv_season=export_period.season year=export_period.year %}">{% trans "Retour aux exports" %}</a></li>
        {% endif %}
        <li class="next">
            <a href="{% url nav_url dv_season=next_period.season year=next_period.year %}">
                {{ next_period.season|season_verb }} {{ next_period.year }} <span aria-hidden="true">→</span>
            </a>
        </li>
    </ul>
</nav>
{% with season=export_period.season year=export_period.year %}

{% if dataset %}
    <h1>{{ dataset_title }}</h1>
    {% include 'export_buttons.html' with exporturl=dataset_exporturl year=year season=season only %}
    <table class="table">
    {% for row in dataset %}
        <tr>
        {% for entry in row %}
            {% if forloop.first or forloop.parentloop.first %}
                <th>{{ entry|ifcanton_abbr|default:'' }}</th>
            {% else %}
                <td>{{ entry|default:'' }}</td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
{% else %}
    <h1>{% blocktrans with year=year season=season|season_verb %}Exports pour la saison {{ season }} {{year}}{% endblocktrans %}</h1>

    <ul>
        <li><a href="{% url 'season-stats' year=year dv_season=season %}">{% trans "Statistiques de la saison" %}</a></li>
        <li><a href="{% url 'orga-invoices' year=year dv_season=season %}">{% trans "Facturation établissements" %}</a></li>
    </ul>
{% endif %}
{% endwith %}
{% endblock %}
