{% extends "base_public.html" %}{% load i18n dv_filters %}
{% block container-class %}container-fluid{% endblock %}
{% block head_title %}{% trans "Prochaines Qualifs" %}{% endblock %}
{% block content %}
<h2>{% trans "Prochaines Qualifs" %}</h2>
<div class="row">
{% for session in sessions %}
    {% ifchanged session.day session.orga %}
        <div class="col-xs-6 col-sm-4 col-md-3 dvqualif-badge">
            <a class="dvstate-txt-none dvstate-txt-hov-{{ session.orga.address_canton|lower }}">
                <span class="dvstate-round pull-left dvstate-bg-{{ session.orga.address_canton|lower }}">{{ session.orga.address_canton|canton_abbr }}</span>
                <div class="pull-left card-content">
                    <h6 class="date_big">{{ session.day|date:'j M' }}</h6>
                    <p>{{ session.orga.ifabbr }}<br />{{session.city}} ({{ session.orga.address_canton|canton_abbr }})</p>
                </div>
            </a>
        </div>
    {% endifchanged %}
{% endfor %}
</div>
{% endblock %}
